<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97089002382-nr1l00efnt08ld1v9q8r5f4ng4rpi2a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97089002382-nr1l00efnt08ld1v9q8r5f4ng4rpi2a4</string>
	<key>API_KEY</key>
	<string>AIzaSyCWrFCqwIXGS76C-mw4ExvsrFg-JmrP4LA</string>
	<key>GCM_SENDER_ID</key>
	<string>97089002382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyTeam.app-v1</string>
	<key>PROJECT_ID</key>
	<string>appv1-9e8b9</string>
	<key>STORAGE_BUCKET</key>
	<string>appv1-9e8b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97089002382:ios:30b541920ec37ead7162df</string>
</dict>
</plist>